/* Seach Panel */

.search-panel {
  background-color: var(--color-black);
  left: 0;
  padding: var(--gap-3) var(--gap-2);
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  width: 100%;
  z-index: 1000;

  &--active {
    transform: translateY(0);
    transition: transform var(--transition-duration-m) ease;
  }

  &__input {
    border: none;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    flex-grow: 1;
    font-size: 1.6rem;
    height: 4rem;
    outline: none;
    padding: 0 var(--gap-2);
  }
  
  &__button {
    align-items: center;
    background-color: var(--color-primary);
    border: var(--border-width-sm) solid var(--color-primary-dark);
    border-left: none;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    display: flex;
    height: 4rem;
    justify-content: center;
    margin-right: 4.8rem;
    min-width: 4rem;
    width: 4rem;

    @include bp-sm {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      background-color: var(--color-primary-dark);
    }
  
    img {
      filter: invert(1);
      height: var(--icon-size-sm);
      width: var(--icon-size-sm);
    }
  }

  &__dismiss {
    height: 4rem;
    position: absolute;
    right: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    width: 4rem;

    img {
      filter: invert(1);
      height: var(--icon-size-sm);
      width: var(--icon-size-sm);
    }
  }
}
