.utility-bar {
  align-items: center;
  background-color: var(--color-neutral);
  color: var(--color-black);
  display: none;
  justify-content: flex-end;
  padding: var(--gap-2) 0;

  @include bp-md {
    display: flex;
  }
}

/* Navigation */

.utility-nav {
  margin-right: calc(var(--gap-3) * -1);

  > ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-1) 0;
    list-style: none;
    margin: 0;
  }
  
  li {
    margin: 0;
    padding: var(--gap-1) var(--gap-3);
  }
  
  a {
    color: var(--color-black);
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    transition: color var(--transition-duration-f);
    white-space: nowrap;

    &:hover {
      color: var(--color-primary-dark);
      text-decoration: underline;
    }
  }
}