#map {
  height: 40rem;
  width: 100%;

  @include bp-md {
    height: 0;
    padding-bottom: 100%;
  }
}

.location-finder {
  display: grid;
  gap: var(--gap-6);
  grid-template-columns: 1fr;

  .section-header {
    grid-column: 1 / -1;
  }

  @include bp-md {
    grid-template-columns: 1fr 1fr;
  }
}

.location-finder__content {
  order: 2;

    @include bp-md {
      order: 1;
    }
}

.location-finder__map {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  order: 1;

  @include bp-md {
    order: 2;
  }

  @include bp-md {
    margin-left: inherit;
    margin-right: inherit;
    position: sticky;
    top: var(--gap-9);
  }
}

.location {
  color: var(--color-primary);
  cursor: pointer;
  display: block;
  text-align: left;
  width: 100%;

  &:not(:last-child) {
    border-bottom: var(--border-width-sm) solid var(--color-neutral-light);
    margin-bottom: var(--gap-2);
    padding-bottom: var(--gap-3);
  }
}

.location__title {
  margin-bottom: var(--gap-1);
}

.location__meta {
  color: var(--color-text);
  font-size: 1.6rem;
}

/* Search */

.location-finder__search {
  margin-bottom: var(--gap-4);
  position: relative;
}

.location-finder__search-icon {
  align-items: center;
  display: flex;
  height: var(--icon-size-md);
  justify-content: center;
  pointer-events: none;
  position: absolute;
  right: var(--gap-2);
  top: 50%;
  transform: translateY(-50%);
  width: var(--icon-size-md);

  svg {
    fill: var(--color-black);
    height: 100%;
    width: 100%;
  }
}

.location-finder__search-input {
  @include input-styles;
  padding-right: var(--gap-6);
  width: 100%;
}

/* Info Window */

.gm-style-iw {
  font-family: var(--font-primary);
  width: 100%;

  > div {
    padding: 0 var(--gap-2) var(--gap-2);
  }
}

.info-window__photo {
  height: 0;
  margin-left: calc(var(--gap-2) * -1);
  margin-right: calc(var(--gap-2) * -1);
  padding-bottom: 56.25%;
  position: relative;

  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
  }
}

.info-window__title {
  border: var(--border-width-sm) solid var(--color-neutral-dark);
  margin-bottom: var(--gap-1);
  margin-top: var(--gap-2);
  padding-bottom: var(--gap-1);
}

.info-window__sub-header {
  margin-bottom: var(--gap-1);
  margin-top: var(--gap-2);
}

.info-window__p {
  font-size: 1.7rem;

  a {
    transition: color var(--transition-duration-f);
  }

  &:not(:last-child) {
    margin-bottom: var(--gap-1);
  }
}
