<div class="search-panel">
    <div class="flex-container">
        <input type="text" class="search-panel__input" placeholder="Search" />
        <button class="search-panel__button" type="button" aria-label="Search">
            <img src="{{ CDNURL }}/sitefiles/{{ Site.SiteId }}/images/icons/search.svg" alt="search"/>
        </button>
        <button class="search-panel__dismiss" type="button" aria-label="Dismiss Search">
            <img src="{{ CDNURL }}/sitefiles/{{ Site.SiteId }}/images/icons/x.svg" alt="close"/>
        </button>
    </div>
</div>
