<div class="sidecar">

    <div class="sidecar__top">
        <nav class="sidecar-nav">
            {% MainPagesMenu %}
        </nav>
    </div>

    <div class="sidecar__bottom">
        <!-- Replace example menu with a SiteWrench generated version -->
        <nav class="sidecar-utility">
            <ul class="sidecar-utility__items">
                <li class="sidecar-utility__item">
                    <a href="/calendar" class="sidecar-utility__link">Calendar</a>
                </li>
                <li class="sidecar-utility__item">
                    <a href="/blog" class="sidecar-utility__link">Blog</a>
                </li>
            </ul>
        </nav>
    </div>

</div>