<div class="utility-bar">
    <div class="flex-container end-xs middle-xs">        
        <!-- Replace example menu with a SiteWrench generated version -->
        <nav class="utility-nav">
            <ul class="utility-nav__items">
                <li class="utility-nav__item">
                    <a href="/calendar" class="utility-nav__link">Calendar</a>
                </li>
                <li class="utility-nav__item">
                    <a href="/blog" class="utility-nav__link">Blog</a>
                </li>
            </ul>
        </nav>
    </div>
</div>