.sitemap {
  > ul {
    margin: 0 0 var(--gap-2) var(--gap-2);

    ul {
      margin: var(--gap-1) 0 var(--gap-1) var(--gap-2);
    }
  }

  li {
    list-style: disc;

    &:not(:last-child) {
      margin-bottom: var(--gap-1);
    }
  }
}
